Repository crossplatformkorea/react-native-naver-login, pull requests merged in 2022-10, with the labels that each got.

#139 안드로이드 에러 타입을 String에서 JS객체로 변경
  android/src/main/java/com/dooboolab/naverlogin/RNNaverLoginModule.java
Labels: enhancement, android, types

#141 Update naveridlogin-sdk-ios 4.1 to 4.1.5
  NaverLoginExample/ios/NaverLoginExample.xcodeproj/project.pbxproj
  NaverLoginExample/ios/Podfile.lock
  RNNaverLogin.podspec
Labels: ios

#155 Add android sdk native method call guard logic
  android/src/main/java/com/dooboolab/naverlogin/RNNaverLoginModule.kt
Labels: 🛠 bugfix, 🤖 android
